.sidebar {
    width: 280px;
    flex-shrink: 0;
    position: absolute;
    z-index: 1;
    height: 100vh;
}

.sidebar-close {
    transform: translate(-100%);
}

.sidebar-open {
    transform: translate(0);
}