.login-screen {
    height: 100vh;
    overflow: hidden;
}

.w3-round-xxlarge {
    border-radius: 32px !important;
}

.novorossisk_logo {
    width: 400px;
    height: 400px;
    color: black;
    position: fixed;
    bottom: 0;
    right: -50vw;
}

.grade-zindex {
    z-index: 100;
}