.plastic-card {
    height: 200px;
    width: 300px;
    border: 1px solid;
    border-radius: 20px;
    background-color: var(--yellow-brand);
    text-align: center;
}

.plastic-card-header {
    height: 100px;
}

.plastic-card-header h2 {
    text-align: center;
    font-size: 48px;
    margin-top: 24px;
}

.plastic-card-header span {
    color: black;
}

.plastic-card-mline {
    width: 100%;
    height: 48px;
    background-color: black;
    color: white;
}

.plastic-card-mline h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 100%;
}

.btn-fill {
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    width: 300px;
    height: 48px;
}

.btn-fill-money {
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    width: 300px;
}