:root {
    --yellow-brand: rgb(249 174 64);
    --green-brand: rgb(43 180 115);
    --blue-brand: rgb(39 170 225);
    --green2-brand: rgb(0, 165, 155);
    --border-radius-large: 8px;
    --modal-width: 400px;
}

.App {
    background-color: var(--blue-brand);
    height: 100%;
    display: flex;
    justify-content: center;
}

.btn-green {
    background-color: var(--green-brand);
    border: 1px;
    height: 40px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.btn-green-width {
    width: var(--profile-width);
}

.btn-green:hover {
    background-color: rgb(81, 189, 153);
}

.btn-green:active {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.87);
}

.list-group {
    background-color: black !important;
    border-radius: var(--border-radius-large) !important;
    transform: translate(-5px);
    box-shadow: 5px 5px 0px 0.1px rgb(160, 106, 26);
}

.list-group-item {
    background-color: var(--yellow-brand) !important;
    margin-bottom: 5px;
}

.list-group :last-child {
    margin-bottom: 0px;
}

.nav-link {
    color: black !important;
}

.row {
    background-color: rgb(39, 170, 225);
}