:root {
    --yellow-brand: rgb(249 174 64);
    --green-brand: rgb(43 180 115);
    --blue-brand: rgb(39 170 225);
}

.App {
    background-color: var(--blue-brand);
    height: 100vh;
}

.btn-green {
    background-color: var(--green-brand);
    border: 1px;
    height: 40px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.btn-green-width {
    width: var(--profile-width);
}

.btn-green:hover {
    background-color: rgb(81, 189, 153);
}

.btn-green:active {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.87);
}